/* .footer-container {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFPrAuuGoZsGMs33Zo_qGPrZspD-uryVmpHQ&usqp=CAU');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
} */